/*
CSS Rules
Syntax		;
Selector	{
	property: value;
}
*/
/*1. UNIVERSAL SELECTOR (LOWEST)*/
/*Change the font of every element in HTML*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}
/*The "*" symbol is a "universal selector" and is used to target ALL elements
*/
/*The "font-family" propert changes the style of the font*/
/*The value "Courier New" is used as the primary font and the value "monospace" is used as a secondary font when a browser is unable to ise the primary font.*/
/*The value "20px" refers to 20 pixels in size*/
/*2. TYPE SELECTOR*/
body {
	background-color: skyblue;
}
/*The background color propert changes the background color of an element*/
/*3. ATTRIBUTE SELECTOR*/
/*The attribute selector only works based on the exact attribute syntax provided in the HTML tag. It's also case sensitive.*/
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*4. CLASS SELECTOR*/
/*The class attribute is used to target elements with similar styling. This is a good approach to use for elements that have similar styles accross the whole application.*/
.offering-item {text-transform: uppercase;}
/*
- The text-transform property changes font to a certain case.
- The value uppercase changes text to all capitalized letter.
*/

/*5. ID SELECTOR*/

#zuitt-motto {
	letter-spacing: 5px;
}
/*The id attribute is used to target elements with unique styling. This is a good approach to use for elements that should have their own style across the whole application.
- The letter-spacing propert changes the spaces in between characters of a text.
- ID selectors have the highest priority for selectors. In this example, the styling of the h3 type selector will not work because ID selector has a higher priority.
*/

/*CSS SELECTOR COMBINATORS*/

/*ADJACENT SIBLING SELECTOR*/
/*
Syntax:
	sibling_element + target_element {
	property: value
	}
*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
/*GENERAL SIBLING SELECTOR*/
h2 ~ a, a{
	text-decoration: none;
}

/*CHILD SELECTOR*/
/*Syntax:
	selector1 > selector2 {
	style: properties
	}
*/
body > section > form > label {
	color: rgb(0, 0, 128);
}

/*DESCENDANT SELECTORS*/
/*
	Syntax:
	selector1 selector2 {
	style: properties;
	}
*/
#bootcamp-learning-list {
	color:  #075966;
}

/*WHOLE HTML*/
html {
	scroll-behavior: smooth;
}
nav {
	background-color: white;
}
a:hover {
	background-color: #b4d6de;
}
/*DIV for the Navigation Bar*/
div {display: inline-black;
	float: right;}

/*Landing Section & Form Section*/
section {
	height: 100vh;
	text-align: center;
}
h2 {
	font-size: 1.5rem;
}
/*Remove numbers from list*/
ol {
	list-style-type: none;
}
/*Register Section/Form*/
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}
button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}