#third {
	color: yellow;
}

* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 50px;
}
#headtwo {
	text-transform: uppercase;
}
.topics {
	background-color: palegreen;
}
li[value] {
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    width: 90%;
}
img + ul {
	list-style-type: circle;
}
#lolo img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}
ul ~ p {
	text-align: center;
}
body > section > ul > li {
	letter-spacing: 10px;
}
